{%  extends 'Webpage/main.html' %}   #inherit main.html
{% block content %}

    <h2>Change Password</h2>
    
    {% if oldpassword_is_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Error!</h4>Oldpassword is incorrect
        </div>
    {% endif %}
    <div class="well">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {{ form.oldpassword }}
            {{ form.newpassword1 }}
            {{ form.newpassword2 }}


            <p class="form-actions">
                <input type="submit" value="Confirm Change" class="btn btn-primary">
            </p>
        </form>
    </div>
 
</body>
</html>
{% endblock %}